.header {
    display: flex;
    flex-flow: row wrap;
}
.header .mat-toolbar{
    text-align: center;
    background: #009688;
    font-size: 20px;
    padding: 20px;
}
.header h2{
    margin-left: 550px;
}
.header button{
    color: white;
    
}
#pic:hover {
    cursor: pointer;
}
.header img{
    margin-left: 43%;
    width: 150px;
    height: 150px;

}
#icon{   
    padding-left: 5%;
}
#icon > mat-icon{
    margin:auto;
    font-size:50px;
}

#login{
    background-color:#4DB6AC;
    border-radius: 5px;
}
#registrarse{
    background-color:#4DB6AC;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 1%;
}