#card {
  
    margin-bottom: 5%;
   left:30%;
    background: #009688;
    width: 40%;

}
#container{
    padding-top: 5%;
    min-height: 100%;
    background-image: url(../../assets/imagenfondo.png);
}
#atributos{
    vertical-align: middle;
    color:white;
    width: 15%;
}
.borrar{
   
    border-radius: 5px;
    color:white;
    margin-left:2%
}

.guardar{
    margin: 0 auto;
    background-color:#4DB6AC;
    border-radius: 5px;
    color:white;
}

#botonContainer{
    display: flex;
  justify-content: center;
}