<div id="container">
  <mat-card id="card">
    <mat-list id="todas">
      <mat-list-item role="listitem" *ngFor="let passenger of passengers">
        <div id="atributos">
          {{ passenger }}
        </div>
      <mat-card-actions align="end">
        <button
            class="borrar"
            mat-raised-button
            color="warn"
            (click)="deleteArr(passenger)"
          >
            Borrar
          </button>
      </mat-card-actions>
          
       
          
        
      </mat-list-item>
    </mat-list>
  </mat-card>
  <div id="botonContainer">
  <button class="guardar" mat-raised-button color="primary" (click)="delete()">
    Guardar cambios
  </button>
</div>
</div>
