.title_text {
    margin-left: 40%;
    margin-top: 15px;
    font-size: large;
}

.user_submit_form {
    margin-left: 25%;
}

.field .mat-form-field {
    width: 60%;
}

.upload_buttons {
    display: flex;
}

#name {
    width: 40%;
}

#age {
    position: relative;
    width: 18%;
    margin-left: 2%;
}

#carnet {
    background-color: #4DB6AC;
    color: white;
    min-width: fit-content;
    height: 38px;
    margin-right: 20px;
}

#perfil {
    background-color: #4DB6AC;
    color: white;
    min-width: fit-content;
    height: 38px;
}

#regBut {
    background-color: #4DB6AC;
    color: white;
    min-width: fit-content;
    width: 111px;
    height: 38px;
    margin-top: 5px;
}

.register{
    margin-left: 24%;
    margin-top: 25px;
    margin-bottom: 20%;
}