
<div class="container">
  <mat-card class="card">
    <div class="origen">
      <h1>{{ viaje.origin }} <h2>{{ viaje.date }}</h2></h1>
      
      <mat-icon>arrow_downward</mat-icon>
      <h1>{{ viaje.destination }} <h2>{{ viaje.date }}</h2> </h1>
      
    </div>
  </mat-card>

  <div class="precio"></div>

  <mat-card class="card" id="secondCard">
    <div class="usuario">
      <h1>{{ viaje.nameDriver }}</h1>
      <ngb-rating [max]="5" [(rate)]="rate" [readonly]="false"></ngb-rating>
    </div>
    <div id="icon">
      <mat-icon>account_circle</mat-icon>
    </div>
      
    
  </mat-card>

  <mat-card class="card">
    <div class="coche">
      <h2 class="brandCar">{{ viaje.brand_car }} {{viaje.model_car}}</h2>
      <h2 class="colourCar">{{ viaje.colour_car }}</h2>
      <mat-icon>directions_car</mat-icon>
      <h2 class="seatsCar">Asiento libres: {{ asientosLibres }}</h2>
    </div>
  </mat-card>

  <div class="boton">
    <button mat-raised-button class="unirseBoton" (click)="update()"  *ngIf="userLoggedOwns()">
      Editar Viaje
    </button>
  </div>


  <div class="boton">
    <button mat-raised-button class="unirseBoton" *ngIf="!(userLogged() == userLoggedOwns())" (click)="unirse()">
      Unirse
    </button>
    <button mat-raised-button class="unirseBoton"  *ngIf="userLoggedOwns()" (click)="managePassenger()">
      Administrar pasajeros
    </button>
  </div>
</div>

