
<h1>Editar Viaje</h1>
<div class = "viaje-uno">
    <form (ngSubmit)="onUpdate()">
        <mat-form-field appearance="fill">
            <mat-label>Nombre Conductor</mat-label>
            <input matInput        
                    type="text"
                    placeholder="Nombre"
                    [(ngModel)]="viaje.nameDriver"  name="nameDriver">
        </mat-form-field>
    </form>   
</div>

<div  class = "viaje-dos">
    <form (ngSubmit)="onUpdate()">
        <mat-form-field appearance="fill">
            <mat-label>Origen</mat-label>
            <input matInput      
                type="text"
                placeholder="Origen"
                [(ngModel)]="viaje.origin"  name="origin">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Destino</mat-label>
            <input matInput 
                type="text"
                placeholder="Destino"
                [(ngModel)]="viaje.destination"  name="destination">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput
                    
                type="text"
                placeholder="Fecha"
                [(ngModel)]="viaje.date"  name="date">
                <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
        
    
        <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <input matInput
                    
                type="text"
                placeholder="Hora"
                [(ngModel)]="viaje.hour"  name="hour">
        </mat-form-field>
    </form>
    
</div>

<div class = "viaje-tres">
    <form (ngSubmit)="onUpdate()">
        <mat-form-field appearance="fill">
            <mat-label>Modelo Coche</mat-label>
            <input matInput
                    
                type="text"
                placeholder="Modelo Coche"
                [(ngModel)]="viaje.model_car"  name="model_car">
        </mat-form-field>
    
    
    
    
        <mat-form-field appearance="fill">
            <mat-label>Marca Coche</mat-label>
            <input matInput
                    
                type="text"
                placeholder="Marca Coche"
                [(ngModel)]="viaje.brand_car"  name="brand_car">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Color Coche</mat-label>
            <input matInput
                    
                type="text"
                placeholder="Color Coche"
                [(ngModel)]="viaje.colour_car"  name="colour_car">
        </mat-form-field>
    </form>
    

</div>

<div class = "viaje-dos">
    <form (ngSubmit)="onUpdate()">
        <mat-form-field appearance="fill">
            <mat-label>Capacidad</mat-label>
            <input matInput
                    
                type="text"
                placeholder="Capacidad"
                [(ngModel)]="viaje.seats"  name="seats">
                <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        
    

    
        <mat-form-field appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput
                    
                type="text"
                placeholder="Precio"
                [(ngModel)]="viaje.price"  name="price">
        </mat-form-field>
        
    </form>
    <button (click) = "onUpdate()" mat-raised-button color="primary">Actualizar Viaje</button>

</div>

