

<div id="container">
  <div id="search">
    <h1 id="mision">Viaja a la universidad apoyando al medio ambiente</h1>
    <div id="searchbar">
      <mat-form-field appearance="outline">
        <mat-label>Entre Origen</mat-label>
        <input matInput #input maxlength="16" placeholder="Las Palmas" [(ngModel)]="origin"
        />
        <mat-hint align="end">{{ input.value?.length || 0 }}/16</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Entre Destino</mat-label>
        <input matInput #input maxlength="16" placeholder="Campus Tafira" [(ngModel)]="destiny"/>
        <mat-hint align="end">{{ input.value?.length || 0 }}/16</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Escoga fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker  [(ngModel)]="date"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nº de Pasajeros</mat-label>
        <select matNativeControl [(ngModel)]="numberOfPassengers" >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </mat-form-field>

      <button mat-button (click)="search()">Buscar</button>
    </div>
  </div>
  <div id="info">
    <div id="dialogo">
      <img src="../../assets/3.png" />
      <h2>
        Contacta con otros universitarios que vivan cerca tuyo y vayan a uno de
        los campus de Tafira, Obelisco, San Cristóbal o Montaña Cardones.
      </h2>
    </div>
    <div id="nube">
      <img src="../../assets/1.png" />
      <h2>Ayuda a reducir el impacto del C02 en el medio ambiente.</h2>
    </div>
    <div id="coches">
      <img src="../../assets/4.png" />
      <h2>Reduce el tráfico en las horas puntas en la ciudad usando UniCar.</h2>
    </div>
  </div>
</div>
