.header .mat-toolbar{
    position: center;
    height: 100px;
    background: #4DB6AC;
}

#botonViaje {
    background-color:#009688;
    color: white;
}

#botonSesion {
    background-color:#009688;
    color: white;
}

#mision{
    color:white;
    text-align: center;
    font-size: 45px;
    margin-top: 7%;    
}

#search{
    height: 600px;
    background-image: url(../../assets/imagenfondo.png);
    
    padding-top:3% ;
}

#searchbar{
    background-color: white;
    border-radius: 10px;
    border-color: #009688;
    border-width: 2px;
    border-style: solid;
    margin:8%;
    padding:15px;
    padding-bottom: 3px ;
}

#searchbar > mat-form-field{ 
    width: 20%;
    margin-right:20px;
}
#searchbar > button{ 
    width: 10%;
    background-color:#009688;
    color: white;
    
}

#info{
    display: flex;
    justify-content: center;
}
#dialogo{
    width: 30%;
}
#nube{
    width: 30%;
}
#coches{
    width: 30%;
}

#dialogo > h2{
    margin-top:-125px;
}
#nube > h2{
    margin-top:-125px;
}
#coches > h2{
    margin-top:-125px;
}

#container{
    padding-bottom: 80px;
}