
.content {
  display:flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url(../../assets/imagenfondo.png);
  width: 100%;
  padding: 2% 2% 10% 2%;

}
.header, .footer {
  height: 5rem;
}
.container, .container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  flex-grow: 1;
}
.container-main {
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 2;
  background-color: white;
  border-radius: 2%;
  border-color: grey;
  width: 80%;
  }
.viaje-uno, .viaje-dos, .viaje-tres {
  display: flex;
  justify-content: center;
  align-items: center;
}
.viaje-tres {
  flex-wrap: nowrap;
}
.saveTripButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
}
.saveTripButton button {
  background-color: #009688;
}
.formField {
  padding: 15px 15px 15px 15px;
}
  
.viaje-uno .mat-form-field{
  width: 600px;
}

.viaje-dos .mat-form-field{
  width: 220px;
}

.viaje-tres .mat-form-field{
  width: 220px;
}

