div{
    margin-left:20%;
}

#name{
    margin-top: 50px;
    width: 70%; 
}

#passwd{
    width: 70%;
}

#signInButton{
    background-color: #4DB6AC;
    color: white;
    width: 8%;
    min-width: fit-content;
}

.register{
    margin-left: 43%;
    margin-right:47%;
    margin-bottom: 35px;
}

p{
    margin-left: 20%;
}