<div class="container">
  <mat-card class="cardUsuario">
    <div class="imagenPerfil">
      <img class="profile-pic" src={{userProfilePic}}>
    </div>
    <div class="datosUsuario" *ngIf="userData != undefined">
      <p>{{ userData.userName }}</p>
      <p>Edad: {{ userData.userAge }}</p>
      <p>Puntuación: </p>
      <p>&nbsp;Conductor: {{ userData.driverPoints }}</p>
      <p>&nbsp;Pasajero: {{ userData.passengerPoints }}</p>
    </div>
    <div class="botonesPerfil">
      <button mat-raised-button disabled>
        6,385 kg CO2 ahorrado
      </button>
      <button mat-raised-button>
        <a [routerLink]="['/modificarUsuario', id]">Modificar perfil</a>
      </button>
    </div>
  </mat-card>
  <div class="trips">
    <div class="viajesCreados">
      <div class="tituloViajes">
        <p>Viajes Creados</p>
      </div>
      <mat-card class="matViajesCreados">
        <mat-action-list role="list" *ngFor="let trip of userCreatedTrips | keyvalue">
          <mat-list-item>
            <a [routerLink]="['/viaje', trip.key]">{{ trip.value }}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-action-list>
      </mat-card>
    </div>
    <div class="viajesFavoritos">
      <div class="tituloViajes">
        <p>Viajes Favortios</p>
      </div>
      <mat-card class="matViajesFavoritos">
        <mat-action-list role="list" *ngFor="let trip of userFavTrips | keyvalue">
          <mat-list-item>
            <a [routerLink]="['/viaje', trip.key]">{{ trip.value }}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-action-list>
      </mat-card>
    </div>
    <div class="viajesSolicitados">
      <div class="tituloViajes">
        <p>Viajes Solicitados</p>
      </div>
      <mat-card class="matViajesSolicitados">
        <mat-action-list role="list" *ngFor="let trip of userRequestedTrips | keyvalue">
          <mat-list-item>
            <a [routerLink]="['/viaje', trip.key]">{{ trip.value }}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-action-list>
      </mat-card>
    </div>
  </div>
</div>
